version: '3.7'

services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      - SERVICE_NAME=app
      - SERVICE_TAGS=dev
    working_dir: /var/www
    networks:
      - app-network
    volumes:
        - ./:/var/www
        
  laravel_webserver:
    image: nginx:alpine
    container_name: laravel_webserver
    restart: unless-stopped
    tty: true
    environment: 
      - VIRTUAL_HOST=api.ketringan-dev-rnd.my.id,www.api.ketringan-dev-rnd.my.id
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=api.ketringan-dev-rnd.my.id,www.api.ketringan-dev-rnd.my.id
      - LETSENCRYPT_EMAIL=ketringan.team@gmail.com
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
      - './public:/usr/share/nginx/html'
    # ports:
    #   - 8000:80
    networks:
      - app-network
      - nginx-proxy

  db:
    image: mysql:latest
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_USER=root
    volumes:
      - dbdata:/var/lib/mysql-files/
      - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - app-network

networks:
  nginx-proxy:
      external: true
  app-network:
    driver: bridge

#Volumes
volumes:
  dbdata:
    driver: local
